.Today{
    width: calc(100vw - 20rem);
    height: calc(100vh - 5.4rem);

    padding: 2rem 3rem;

    background-color: #0a1120;
    color: white;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;

    overflow: scroll;
}
.Today-highlights{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
}
.Today-h2{
    font-size: 1.5rem;
}

@media (max-width : 50rem){
    .Today{
        width: 100vw;
        height: auto;

        position: relative;
    }
}