.Week{
    width: calc(100vw - 25rem);
    height: calc(100vh - 5.4rem);

    padding: 2rem 3rem;

    background-color: #0a1120;
    color: white;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;

    overflow: scroll;
}
.Week-state, .Week-card{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 2rem;  
}
.Week-highlights{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
}
.Week-h2{
    font-size: 2rem;
}