.State-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 2rem;  
}
.State-li{
    width: 8rem;

    background-color: #172031;
    padding: 1rem;

    border-radius: 1.25rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.State-span{
    font-size: 1rem;
    font-weight: bold;
}